 body#index {
            background-color: #f7f7f7;
        }

        .container#index {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }


    body#update{

        background-color: #f7f7f7;
    }


      
        

        
